@font-face {
  font-family: "iconfont"; /* Project id 2675102 */
  src: url('iconfont.woff2?t=1626267517321') format('woff2'),
       url('iconfont.woff?t=1626267517321') format('woff'),
       url('iconfont.ttf?t=1626267517321') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googlescholar:before {
  content: "\ebae";
}

.icon-linkedin:before {
  content: "\e685";
}

.icon-github:before {
  content: "\e718";
}

.icon-orcid:before {
  content: "\e71f";
}

.icon-researchgate:before {
  content: "\e745";
}

