.page {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255)
}

.head {
    width: 1000px;
    height: 90px;
    padding-top: 10px;
}

.head-left {
    float: left
}

.head-right {
    float: right;
    padding-right: 10px
}

.head-right img {
    width: 300px;
    /* height: 100px; */
}

.head-footer {
    margin-top: 7px;
    margin-left: 2px;
    font-size: 15px;
}

.nav {
    width: 1000px;
    height: 48px;
    background-color: #E8E7E3;
}

.nav li {
    float: left;
    /* height: 48px; */
    line-height: 48px;
}

.nav a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #777777;
    padding: 0 37px;
}

.nav a:hover {
    background-color: #3F3F3F;
    color: aliceblue;
}

.nav li:last-child a {
    padding: 0 41px 0 41px;
}

.middle-content {
    width: 1000px;
    height: 1600px;
}

.summary {
    padding-top: 20px;
    width: 1000px;
    height: 250px;
}

.summary .summary-left {
    padding-left: 20px;
    width: 700px;
    height: 250px;
    float: left;
    /* background-color: #bfa; */
}

.summary-left h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.summary-left p {
    display: block;
    padding-left: 40px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#CV {
    text-decoration: none;
    color: blue;
}

#CV:hover {
    background-color: yellow;
}

.summary .summary-right {
    width: 250px;
    height: 250px;
    float: right;
    /* background-color: orange; */
}

.summary-right img {
    width: 250px;
}


/* education */

.education {
    margin-top: 30px;
    width: 1000px;
    height: 200px;
    /* background-color: orange; */
}

.education-left {
    padding-left: 20px;
    width: 700px;
    height: 250px;
    /* background-color: #bfa; */
    float: left;
}

.education-right {
    width: 250px;
    height: 300px;
    /* background-color: orange; */
    float: right;
}

.education-left h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.education-left p {
    display: block;
    padding-left: 40px;
    font-size: 18px;
    padding-top: 0px;
    line-height: 30px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.education-left .education-time {
    color: rgb(1, 111, 255);
}

.education-left .education-content {
    padding-left: 70px;
}
.my-info i{
    padding: 10px 0;
    text-decoration: none;
    color: #777777;
    font-size: 15px;
    text-align:left;
}
.my-info span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    text-align:left;
}
.my-info a{
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    text-align:left;
}

/* Awards */

.awards {
    margin-top: 30px;
    width: 1000px;
    height: 330px;
    /* background-color: orange; */
}

.awards-left {
    padding-left: 20px;
    width: 700px;
    height: 250px;
    /* background-color: #bfa; */
    float: left;
}

.awards-right {
    width: 250px;
    height: 300px;
    /* background-color: orange; */
    float: right;
}

.awards-left h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.awards-left li {
    display: block;
    padding-left: 40px;
    font-size: 18px;
    padding-top: 0px;
    line-height: 30px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Professional */

.professional {
    margin-top: 30px;
    width: 1000px;
    height: 460px;
    /* background-color: orange; */
}

.professional-left {
    padding-left: 20px;
    width: 700px;
    height: 250px;
    /* background-color: #bfa; */
    float: left;
}

.professional-right {
    width: 250px;
    height: 300px;
    /* background-color: orange; */
    float: right;
}

.professional-left h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.professional-left li {
    display: block;
    padding-left: 40px;
    font-size: 18px;
    padding-top: 0px;
    line-height: 30px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#software li{
    display: block;
    padding-left: 70px;

}
/* hobbies */

.hobbies {
    margin-top: 30px;
    width: 1000px;
    height: 180px;
    /* background-color: orange; */
}

.hobbies-left {
    padding-left: 20px;
    width: 700px;
    height: 150px;
    /* background-color: #bfa; */
    float: left;
}
#click-gallery{
    text-decoration: none;
    color: blue;
}
#click-gallery:hover{
    background-color: yellow;
}

.hobbies-right {
    width: 250px;
    height: 300px;
    /* background-color: orange; */
    float: right;
}

.hobbies-left h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hobbies-left li {
    display: block;
    padding-left: 40px;
    font-size: 18px;
    padding-top: 0px;
    line-height: 30px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.my-webs a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding: 0px 0;
    color: #777777;
    text-align: right;
}

.my-webs li:first-child a {
    margin-top: 0px;
}

.education-right .visit-global img {
    width: 200px;
    float: right;
}

.footer {
    width: 1000px;
    height: 200px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #777777;
    font-size: 15px;
}

.footer p {
    padding: 10px 0;
    text-decoration: none;
    color: #777777;
    font-size: 15px;
}


.footer-webs li {
    margin-top: 75px;
    float: left;
    /* height: 48px; */
    line-height: 30px;
}

.footer-webs ul li {
    padding: 15px;
    line-height: 30px;
}

.footer-webs img {
    width: 20px;
}
.footer-webs .iconfont{
    font-size: 25px;
}

.footer-web-content {
    float: left;
    margin-left: 50px;
    margin-top: 70px;
}

.footer-left {
    margin-top: 70px;
    width: 200px;
    float: left;
}

.footer-left img {
    margin-top: 10px;
}

.footer-middle {
    width: 600px;
    height: 30px;
    float: left;
}
.footer-right{
    float: left;
    width: 150px;
}
.footer-right img {
    width: 130px;
}